# AUTH SERVICE SETTINGS
AUTH_SERVER_HOST=0.0.0.0
AUTH_SERVER_PORT=8010
AUTH_CORS_ORIGINS=http://localhost:8020
AUTH_DEBUG=True

# TASK SERVICE SETTINGS
TASK_SERVER_HOST=0.0.0.0
TASK_SERVER_PORT=8020
TASK_CORS_ORIGINS=http://localhost:8010
TASK_DEBUG=True

# DB SETTINGS
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5432
DB_HOST=localhost

# AUTH SETTINGS
SECRET_KEY=2d88f9e8985004c72ca39dea0f96e8814d7ebac05205f0abeae9c32f5d0e1c4a
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# KAFKA SETTINGS
KAFKA_SERVER=localhost:9092
KAFKA_TOPIC_USER_STREAM=UserStream
KAFKA_TOPIC_USER_ROLE_CHANGED=UserRoleChange
KAFKA_TOPIC_TASK_STREAM=TaskStream
KAFKA_TOPIC_TASK_STATUS_CHANGED=TaskStatusChange
